
extends baseEmail
block content

  p Hi #{firstName},
    p forgot your password? submit a patch record with your new password and password confirm to: #{url}
    p (website for this action not implemented yet)
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
      tbody
        tr
          td(align='left')
            table(role='presentation', border='0', cellpadding='0', cellspacing='0')
              tbody
                tr 
                  td
                    a(href=`${url}`, target='_blank') Reset your password
    p If you need any help with booking your next tour, please don't hesitate to contact me!
    p - Siddhant Paudel, CEO