doctype html 
html 
    head 
        title Natours
        link(rel='stylesheet' href='css/style.css')
        link(rel='shortcut icon' type='image/png' href='img/favicon.png')

    body
        h1=tour
        h2=user
        p this is just some text



